[2015-05-20 15:40] nelsonic opened #1 "Music?"
Please add your picks of great summer songs!
- http://www.billboard.com/articles/news/513524/summer-songs-1985-present-top-10-tunes-each-summer-listen
- http://www.nme.com/list/the-ultimate-summer-playlist/178575/page/1
- http://www.amazon.co.uk/Greatest-Ever-Summer-Various-Artists/dp/B0015U7ZOS

[2015-05-21 06:03] nelsonic opened #2 "Walkie Talkies?"
## Situation

At Geres, we often have to call people. While the cellphone signal has improved over the years, its still not perfect and calls are certainly not free!

![motorola-tlkr-with-case](https://cloud.githubusercontent.com/assets/194400/7742443/5ffce14a-ff87-11e4-9fd8-2ce6db6a6b18.png)

http://www.amazon.co.uk/dp/B00JZKOAGQ

This would give us 4 radios:
1. Shore (to communicate with everyon

[2015-05-28 00:49] nelsonic opened #3 "Car Door Magnets?"
Should we order car door magnets to put on which ever vehicle(s) we end up driving this summer?
See: http://www.vistaprint.co.uk/car-door-magnets.aspx

![vistaprint-car-door-magnet-1of2](https://cloud.githubusercontent.com/assets/194400/7850517/5258026e-04db-11e5-8998-7d651b0c37cf.png)
![vistaprint-car-door-magnet-2of2](https://cloud.githubusercontent.com/assets/194400/7850518/5581d08c-04db-11e5-8

[2015-05-28 01:03] nelsonic opened #4 "QuadCopters for aerial photography awesomeness?!"
Should we get a Parrot Bebop Drone or DJI Phantom 3 or **_Both**_? :wink:

[![Parrot Bebop Drone](http://i.imgur.com/9KB3w7d.png)](https://www.youtube.com/watch?v=WUpmPUcnuBY)

[![Phantom 3](http://i.imgur.com/Ez2roaK.png)](https://www.youtube.com/watch?v=7jJn7uvqgc0)
- Bebop: http://www.amazon.co.uk/Parrot-Bebop-Drone-Skycontroller-Yellow/dp/B00OOR98UI/
- Phantom 3: http://www.amazon.co.uk/DJI-Ph

[2015-05-28 02:58] nelsonic commented on #4
Cheaper bebop: http://www.simplyelectronics.net/mainproduct.php?pid=25730 £352.95 (just drone)
Inspirational holiday video: https://www.youtube.com/watch?v=cyInX4reaAc

[2015-05-28 05:29] eventhough commented on #4
Phantom fo shoooo! What is this for?

[2015-05-28 06:17] olizilla commented on #4
@andrew mentioned that the DJI is pretty awesome.

[2015-05-28 06:20] andrew commented on #4
The bebop is hackable and the dji will chop your fingers off, if it's for photography is go with the dji with a go pro

[2015-05-28 09:29] nelsonic commented on #4
@eventhough the quads are for people to _fly_ when taking a break from coding.
**Background**: this summer we are running a coding retreat (similar to [nodeconf](https://twitter.com/nodeconf/status/588746940898271232) but smaller and _focussed_ on building actual software products!) but in [Portugal](http://marionstclaire.com/wp-content/uploads/2014/10/peneda-geres-national-park.jpg) ... _everyone

[2015-05-28 09:30] andrew commented on #4
@nelsonic also the rolling spider is hackable and quite a lot smaller/cheaper: http://www.parrot.com/usa/products/rolling-spider/

[2015-05-28 09:33] nelsonic commented on #4
@andrew hadn't considered the spider because of the _mixed_ AMZN reviews: http://www.amazon.co.uk/Minidrone-Rolling-Spider-Parrot-Gadget/dp/B00LX0A0PG
but on you're recommendation, we'll order one for variety. What else do we need to have kit-wise to have a great time hacking the parrot? _thanks_!

[2015-05-28 09:36] andrew commented on #4
I've not had any trouble with mine and I believe @voodootikigod has been using them for hacking and nodecopter related things.

[2015-05-30 19:05] iteles commented on #3
Linked to https://github.com/dwyl/start-here/issues/17

[2015-05-30 22:43] nelsonic opened #5 "Key Safe?"
To ensure people can get into the house without us having to be there to let them in, we could install a key safe: http://www.amazon.co.uk/Sentinel-Push-Button-wall-mounted/dp/B003J22WZ2
or: http://www.amazon.co.uk/Able2-PR60088-C500-Keysafe-Approved/dp/B0051BGKE8
see video: https://www.youtube.com/watch?v=L4rJ1_-VNV8

[2015-06-04 19:12] nelsonic commented on #4
Sweet! :candy:
Found: https://github.com/FluffyJack/node-rolling-spider
#**excited** !!
Thanks @andrew

[2015-06-04 19:27] nelsonic commented on #4
How to pilot the Bebop Drone: http://blog.parrot.com/2014/11/18/how-to-pilot-bebop-drone/
(I've ordered one... :stuck_out_tongue_winking_eye: its going to be loco! )

[2015-06-05 14:35] nelsonic commented on #2
Ordered these. they are arriving today. Going to have to backpack them next week. :+1:

[2015-06-05 14:35] #2 closed, assigned to nobody

[2015-06-05 14:37] nelsonic opened #6 "Pitch"
So... in the interest of lighting a fire under us, I've signed us up to pitch **Summer 2015** to FAC5 on Monday 7th June ... :open_mouth:

[2015-06-05 14:44] nelsonic opened #7 "UK extension lead so people don't have to bring adapters"
should we take a couple of extension leads so people don't have to buy/take UK>EU for all their devices?

[2015-06-06 04:30] nelsonic opened #8 "Code of Conduct"
We need a great code of conduct everyone needs to read and agree to _before_ we launch this summer!

A few simple rules e.g:
- Avoid making Loud Noise/Music (_in general but especially_) between  **hh:mm PM** and **hh:mm AM** #**QuietCreativity**
- Leave areas how you would expect to find them (_tidy_) #**GoldenRule**
- Behave as you would if your mother (or other most respected person) was watchi

[2015-06-06 10:12] iteles commented on #7
Makes sense as long as you don't think it'll overload the adapter (don't see why it should). I'll add it to the list.

[2015-06-06 10:17] iteles commented on #6
Of course you have. Because we don't have enough to sort out before [Tuesday's LadiesWhoCode meetup](http://www.meetup.com/Ladies-Who-Code-UK/events/222452944/).
Interesting you managed to do that in the first place given that Mondays are supposed to be role presentation days, not MVP days.

[2015-06-06 10:19] nelsonic commented on #6
Wednesday would have been better, _agreed_. Except that it would have to be a Lunch Time Pitch because I'm flying out before the "_usual_" (after work) pitch time...

[2015-06-06 10:24] iteles commented on #6
I'm going to the market :arrow_right: lunch :arrow_right: start planning.

[2015-06-06 14:44] nelsonic commented on #7
Should I take one on Wednesday...?

[2015-06-06 14:45] iteles commented on #7
If you have space. There are PLENTY of other things on the list that need to go to Portugal so you know, take your pick :stuck_out_tongue:

[2015-06-08 00:20] nelsonic opened #9 "Wanna Try Light Painting?"
![light painting](https://c2.staticflickr.com/4/3478/5813641070_1c58765e05_b.jpg)

@iteles what do we need to take with us from Ldn to be able to do a bit of light painting...?

[2015-06-08 11:06] iteles commented on #9
Couple of tripods and a good camera (one that allows you 10 seconds + of exposure) and then just torches/sparklers/lighters/anything that emits light.

The question is one camera or two? :wink:

[2015-06-08 11:08] nelsonic commented on #9
![two daddies](http://itsconceivablenow.com/wp-content/uploads/2011/12/stories_jerry.jpg)

[2015-06-08 11:11] iteles commented on #5
Turns out we don't need this for the summer specifically, though will be useful if we got for the airBNB option :+1:

[2015-06-08 11:13] nelsonic commented on #5
For airBNB indeed...
Want me to install one for your Brother before we leave for PT...? :wink:

[2015-06-08 11:14] iteles commented on #5
Ha, no. I'll send him the link and he can install it himself! :stuck_out_tongue:
Maybe when we come back in September though!

[2015-06-08 11:15] nelsonic commented on #5
Heck, we could even _pay_ for it ourselves as a "_present_" to him, so you don't have to go there to open the flat for his guests anymore...! :confused:

[2015-06-08 11:17] nelsonic commented on #3
Agreed. we can totes use the _Big Stickers_ as MVP and if we want to be able to remove them we can always upgrade to Magnets laters.

[2015-06-08 11:17] #3 closed, assigned to iteles

[2015-06-08 15:12] iteles opened #10 "Dates"
We need to finalise dates for the 2 bootcamps.

[2015-06-08 15:16] iteles commented on #10
**Camp 1: Gerês**
Finalised for us, due to house availability: Saturday 11th July - Friday 24th July (morning)

**Camp 2: Carcavelos**
Proposed: Weeks 2 & 3 of August, Monday 10th August - Sunday 23rd August

_N.B. For both of these, we can offer accommodation for a week after the end date of the camp_
@nelsonic Thoughts?

[2015-06-08 15:46] nelsonic opened #11 "Location"
![carcavelos-beach](https://cloud.githubusercontent.com/assets/194400/8037756/a6a55252-0df7-11e5-9980-9ec9fe4b3a68.jpeg)

![geres-panorama](https://cloud.githubusercontent.com/assets/194400/8037829/f4ad88f2-0df7-11e5-8590-092cf12a0c0f.png)
![portugal-sunshine-index](https://cloud.githubusercontent.com/assets/194400/8038866/f59c4de2-0dfd-11e5-957b-7e92396f10a3.png)

[2015-06-08 15:53] iteles commented on #8
I started with one a little specific to the summer and will generalise into a dwyl code of conduct for sure!

[2015-06-08 16:38] nelsonic commented on #11
![hackathon](https://cloud.githubusercontent.com/assets/194400/8040002/253c1fe4-0e05-11e5-8507-05fdb532632a.png)

[2015-06-09 10:03] nelsonic opened #14 "Images"
@iteles do you have time to tidy this up as we discussed? :wink:
(not "_urgent_" maybe tomorrow...)

[2015-06-15 18:27] nelsonic opened #15 "Air Matress for Moar People?"
:sunny: https://www.sportzone.pt/5007675-intex-jr-twin ?

[2015-06-15 18:37] iteles commented on #15
I reckon we need 4. Will confirm once we have final confirmation of numbers.

We'll also need to buy bed linen - I'm working on this (we need more for Gerês anyway) so leave it with me.

[2015-06-16 21:43] #11 closed, assigned to nobody

[2015-06-16 21:44] iteles commented on #10
:+1: Settled and pitched to F&C on Monday 8th June.

[2015-06-16 21:44] #10 closed, assigned to nobody

[2015-06-16 21:46] iteles opened #16 "Add information people need to prepare for journey"
- [x] Span of time that accommodation is available
- [x] Airport transfers
- [x] Food purchasing arrangements/locations
- [x] Activities and the surrounding area (weekends and afternoons off)
- [x] Recommended clothing

**General:**
- [x] Sun Screen/Cream (buy/bring/wear) at all times to avoid nasty burns!
- [x] Cash (_Euros_) **[partly covered in useful-info.md, needs updating]**
- [x] Internet c

[2015-06-16 21:47] iteles opened #17 "Create gitter chat rooms and add badges to readme"
Initially create one room for each group so that we can have a group location to prep for the trip.
More communication fun to follow once we start working.

[2015-06-16 21:48] iteles commented on #17
https://gitter.im/dwyl/team-lake
https://gitter.im/dwyl/team-city

[2015-06-16 21:59] iteles opened #18 "Add everyone who is coming to the dwyl organisation"

[2015-06-16 22:14] iteles commented on #18
Done!

[2015-06-16 22:14] #18 closed, assigned to iteles

[2015-06-17 05:47] nelsonic commented on #17
hmm... can we change "lake" to "_nature_" ?

[2015-06-17 06:53] nelsonic commented on #14
![summer-of-code](https://cloud.githubusercontent.com/assets/194400/8201159/da7fae86-14c5-11e5-83d5-a19bf2759d79.png)

Shamelessly lifted from: https://developers.google.com/open-source/soc/

[2015-06-17 10:36] iteles commented on #17
I haven't figured out how. I've emailed gitter.

[2015-06-17 10:45] iteles commented on #16
@nelsonic Thanks for adding to the above. I unchecked all checked ones though (first three), none of it is covered yet!

[2015-06-17 12:49] nelsonic commented on #16
Sorry, I didn't mean to check them as "done".
Each person needs to have their own checklist... Love you! 😘

On Wed, 17 Jun 2015 at 11:45, Ines Teles notifications@github.com wrote:

[2015-06-22 07:30] nelsonic opened #20 "Circle of Sadness"
Watch: https://www.youtube.com/watch?v=o5c1gIzQoPI _and_ https://youtu.be/FJ5VCoan-VI?t=43s

Anyone who does not feel like this: https://www.youtube.com/watch?v=C_ODFtJckRQ needs **_DWYL**_

Anyone who is not **_excited**_ about this movie: https://www.youtube.com/watch?v=kAgJcEmMTek needs to re-discover their inner-awesome!

[2015-06-24 13:37] iteles opened #22 "Coding style guide"
- Tabs vs spaces (2 spaces please!)
- Semicolons please
- Let's stick to a standard in markdown (interestingly, @iteles uses `_underscores_` for _italic_ and @nelsonic uses `*single asterisks*`)
- Fully commented code
- What is a good commit message?

And many more including a guide for writing issues. Either way, this needs to be done by the summer.

[2015-06-25 04:52] nelsonic commented on #7
@iteles where is this "_List_" (_of things to take to PT_) that you speak of?

Thinking of getting one of these: http://www.amazon.co.uk/Sivitec-Switched-Extension-Protection-Indicator/dp/B00KWMX2YM (or do you think we should get [**_two**_](https://youtu.be/0dMofPfpJsE?t=7s) extensions...?

[2015-06-25 04:54] nelsonic commented on #1
@iteles should we revive our Spotify Premium Membership so we have _all_ the Music...?

[2015-06-25 04:56] nelsonic commented on #20
@dwyl/doers _who_ is interested in going to watch [_**Inside Out**_](http://www.imdb.com/title/tt2096673/) this Friday night at the Cinema...?

[2015-06-25 05:07] nelsonic commented on #22
@iteles I've adopted `_underscores_` for _italics_ now. You're right, its _way_ better! :+1: :stuck_out_tongue_winking_eye:

[2015-06-25 08:01] tonydaly commented on #20
@nelsonic where's it showing? Thought it wasn't out till next month. I'm very hesitant to watch it with other people as there's a massive chance I'll start crying like a baby...

[2015-06-25 08:31] iteles commented on #22
:stuck_out_tongue_closed_eyes: It _is_ better though!

[2015-06-25 08:34] iteles commented on #7
I think one is perfect, then we'll take the six plug extension we already have.

I have a list on my phone I've been adding to since March but we should probably have a public one that includes books etc!

[2015-06-25 09:17] olizilla commented on #22
I've always preferred `_underscores_` for _italics_, though I used to push for tabs over spaces. I still believe in the dream of an indentation character, but have long ago turned to the darkside of the 2 space indent.

How can we even semicolons though? Why not Standard JS? https://github.com/feross/standard

[2015-06-25 12:28] nelsonic commented on #20
@tonydaly you're right! ... its only coming out July :cry:
I'm _so excited_ to watch it that I read the release date wrong... sad times.
its going to be the _**Best Movie Ever!!**_

[2015-06-25 12:41] nelsonic commented on #22
Come on ... **2-space indent** _**isn't**_ "_dark side_"
As for the semicolons, I'm not _convinced_ ASI consistent enough ... @Feross is unquestionably a smart guy with _plenty_ of JS experience, but I've been bitten by a semicolon bug before and it wasn't fun. :disappointed:
https://brendaneich.com/2012/04/the-infernal-semicolon/

[2015-06-25 12:42] iteles commented on #20
BUT there _is_ [The Minions Movie](https://booking.myvue.com/OnlineBooking.aspx?cinemaid=10074&sessionId=153748) at Westfield Vue cinema at 19h35 this Friday (tomorrow). Up for it @tonydaly / @dwyl/doers ?

[2015-06-25 12:45] iteles commented on #1
Spotify premium free trial for 60 days, £9.99 a month thereafter, offer ends 5th July.
https://www.spotify.com/uk/premium/
I'm on it.
![screen shot 2015-06-25 at 13 45 07](https://cloud.githubusercontent.com/assets/4185328/8354499/73479ffe-1b40-11e5-8d51-d01599791441.png)

[2015-06-25 13:00] nelsonic commented on #1
Cool. :musical_note: :headphones: :notes: #winning

[2015-06-25 13:02] iteles commented on #1
I'm still annoyed there are no Beatles on Spotify. **_grumble, grumble**_

[2015-06-25 13:20] olizilla commented on #22
Drama added for emphasis. I used to tab, as it seemed the semantically correct character for the job, and all my editors were smart enough to deal, and it gave the reader the freedom to set the indent depth as suited them. Then I started writing JS for a living, and ultimately I couldn't deal with being the only tabster in a space-bubble.

The straw that broke the camels back was GitHub rendering

[2015-06-25 13:22] iteles commented on #22
I have no problem with spaces, it's the lack of semicolons that freaks me out a little. I'm a fan of the pauses :see_no_evil:

[2015-06-25 13:40] nelsonic commented on #1
_**Karaoke**_ ...? :smile:

[2015-06-25 13:42] iteles commented on #1
Inevitable :see_no_evil:

[2015-06-26 09:28] nelsonic opened #23 "Take Acoustic Guitar to Portugal?"
Should we take the Acoustic Guitar to Portugal?
@Jasonspd we could pay for the extra hold luggage allowance if you don't mind taking it...
means you get to play us few tunes... :wink:

@gregaubs thanks for reminding me!

[2015-06-26 13:37] nelsonic commented on #23
@izaakrogan I might take you up on the offer... have you already booked hold luggage for your flight?
and _more importantly_ have you convinced Emily to go?

[2015-06-26 13:55] izaakrogan commented on #23
I don't have hold luggage but it won't be difficult to add it... Emily has work :disappointed:

[2015-06-26 13:58] nelsonic commented on #23
What...?! surely she has _weekends_ ? :disappointed:

[2015-06-26 13:58] nelsonic commented on #23
Well, if you don't mind investigating about adding hold luggage, that would be super useful. thanks!

[2015-06-26 14:00] izaakrogan commented on #23
She's in Sweden for the whole 2 weeks

[2015-06-26 14:07] nelsonic commented on #23
@izaakrogan can you drag in a screenshot of how much it will be to add a hold luggage item to your flight (one-way) ?

The alternative is getting one there: http://www.fnac.pt/Guitarra-Classica-3-4-Stagg-C530-Instrumento-Musical-Instrumentos-Corda/a332151#bl=HGMERCHPDD5

[2015-06-26 14:29] izaakrogan commented on #23
@jrans will you have enough space in your hold luggage? I guess not but let me know

[2015-06-26 16:24] nelsonic opened #24 "Invite Moar (Awesome) People to July?"
@diasdavid que fazes na segunda semana de Julho...?

[2015-06-26 17:47] daviddias commented on #24
Vou estar fora do país até 19 de Agosto. Mas obrigado pelo convite.
Fala com a malta do requireLX - https://gitter.im/require-lx/community

[2015-06-27 05:22] nelsonic commented on #24
@diasdavid sad you can't make it, hope life is treating you super well!
Muito obrigado por nos lembrares da requireLX community!
Boas viagens! :airplane: :wink:
Abraço!

[2015-06-27 08:25] nelsonic opened #25 "Wear Sunscreen!"
This Summer, Wear Sunscreen!
[![Wear Sunscreen](http://i.imgur.com/350S6Vt.png)](https://www.youtube.com/watch?v=sTJ7AzBIJoI)
@dwyl/doers

[2015-06-27 11:15] rorysedgwick opened #26 "Slackline for team nature?"
I have a slackline (see https://www.youtube.com/watch?v=HodudVXgvl8) at home and i'm happy to bring it with me.

Just wanted to check there would be a good place to set it up somewhere fairly near the house i.e. two medium size trees about 5-15 metres apart. It's pretty heavy so I want to make sure we could use it!

[2015-06-27 13:35] iteles commented on #26
We were absolutely thinking of buying one of these! @nelsonic says he can think of a few places it could go.  🎉🎉

[2015-06-27 13:47] nelsonic commented on #26
@rorysedgwick if you are up for transporting a slackline (_and giving us lessons_) it would be mindblowingly awesome! :+1:

[2015-06-27 14:54] rorysedgwick commented on #26
I'm still pretty rubbish at it so not sure about the lessons but i'll definitely bring it then.

It sounds like it can be slightly hit or miss whether flight security allow the metal ratchet to be in your carry on luggage but I don't have a check in bag so i'll just have to gamble it.

[2015-06-27 15:37] nelsonic commented on #26
Which airline are you flying @rorysedgwick ?

[2015-06-27 15:48] rorysedgwick commented on #26
Ryanair. I've read accounts from people saying they've taken ratchets & climbing gear on planes (not Ryanair specifically) without a problem but a couple saying the security staff on the day just decided they wouldn't allow it and they had to check in that bag.  If there are any issues i'll just check it in the hold.

[2015-06-27 17:30] nelsonic commented on #26
Ok. what are your thoughts on us ponying up for pre-booked hold luggage? are you staying in a hostel for a night before?

[2015-06-27 18:20] rorysedgwick commented on #26
Oh well I really appreciate the offer but to add a hold/check-in bag to my flights now would cost £30 each way. Meaning that it would actually be cheaper to buy a slackline in Portugal :| i'm happy to take it in my cabin bag i'm sure it'll be fine.

Yeah i've booked a hostel in Porto for one night on the 9th.

[2015-06-27 22:48] nelsonic commented on #26
@rorysedgwick how much _is_ a _good_ SlackLine?
We'd be _happy_ to pay the £30 (_for hold luggage_) and give you a small luggage bag you can use. (_and not have to bring back to UK  - so only one-way hold luggage_)
We also need to transport a couple of extension leads so people can plug their laptop chargers in. see: #7
And if the checked-in bag weight limit is <15kg we could also take the **box o

[2015-06-28 11:21] iteles commented on #24
Invited requireLX: https://twitter.com/nelsonic/status/614664435358134272

Also invited the lovely @alanshaw, @achingbrain and @olizilla at Meteor London and a few other cool cats :+1:
Closing the issue.

@nelsonic /everyone, let me know if there's anyone else we haven't invited yet that really should be there!

[2015-06-28 11:21] #24 closed, assigned to nobody

[2015-06-28 11:22] iteles opened #27 "Freelance agreements"
Need to put together some freelance agreements for folks coming to work on dwyl this summer, particularly given that we're open sourcing all our code, we don't want there to be any doubt that everyone understands their code will be available to the world!

[2015-06-28 12:13] nelsonic commented on #27
These are usually called **Contributor Agreements**... https://www.clahub.com/

Interesting discussion: http://programmers.stackexchange.com/questions/191535/could-submitting-a-pull-request-ever-constitute-accepting-a-contributor-licence

[2015-06-28 12:57] iteles commented on #27
The circumstances around this summer are slightly different to people we don't know from across the world contributing things they've built for their own use for example. My plan is to have _summer-specific freelance agreements_ and then _more general contributor agreements_ for dwyl :+1:

[2015-06-28 13:01] rorysedgwick commented on #26
@nelsonic The one I bought was the Maverick basic model which was £55 (bit more than I remember) and 15m long. As far as I can tell that's plenty long enough until you get seriously good, and the more advanced/expensive kits differ just in the length and in having double attachment systems to compensate for the increased force it will have to take.

If there are other bits & pieces that need to ge

[2015-06-28 13:03] iteles commented on #26
So looking forward to trying this out!

[2015-06-28 13:38] nelsonic commented on #27
agree.
Anyone else have any insight on this?

[2015-06-28 19:01] #14 closed, assigned to iteles

[2015-06-28 19:03] iteles opened #28 "Mobile internet"
Always good to have a little backup internet.

@nelsonic and @iteles will also need it for time outside of the 4 weeks of summer-2015 when spending time in Landim or other internetless locations for example.
- [x] Research available options and prices
- [x] Decide what we actually need to get in terms of GBs
- [ ] Purchase on 02-Jul when we get to PT

[2015-06-28 19:09] nelsonic commented on #28
ALL The GBs of DATA! :stuck_out_tongue_winking_eye:

There are a couple of wifi hotspot style devices we can use with a 4G rolling contract.

This is the one I was thinking: https://loja.vodafone.pt/homephone/pack.htm?pid=1187-10
![vodafone-pt-wifi-hotspot-3g](https://cloud.githubusercontent.com/assets/194400/8397851/f54e9e4c-1dd1-11e5-8b48-f82199fc5d46.png)

Or... you could use your iPone 6 (whic

[2015-06-28 19:12] iteles commented on #28
**MEO**
- [MEO pens are expensive](https://loja.meo.pt/Equipamentos/Pens/MEO/4G-150-Mb)
- [Payment plans](https://www.meo.pt/internet/internet-movel/tarifarios/pc-tablet) - not great.
- [Sharing internet over more than one device](https://www.meo.pt/internet/internet-movel/cartao-partilhavel)

**NOS**
- [Kanguru 4G hotspot](http://loja-equipamentos.nos.pt/particulares/montra/pens-routers/detalhe/1

[2015-06-28 19:13] nelsonic commented on #28
https://www.facebook.com/Lisbon.Unlimited.4G.WiFi

[2015-06-28 23:07] iteles commented on #8
[Dan Ariely](http://danariely.com/) has done some fascinating research into the field of (_dis_)honesty and cheating which I've been reading about recently.

He does one particular set of experiments (the matrix experiments) where there is always a small _average_ level of cheating (what the participants deem as the **socially accepted** level). _However,_ when the student were asked to [sign thei

[2015-06-29 05:32] nelsonic commented on #8
That _is **fascinating**_ but _**not unexpected**_.
The point of this issue is to create a _General **Code of Conduct**_ to be placed in: https://github.com/dwyl/start-here for _**everyone**_ to read and _**Optionally** sign_.

Most people will _**naturally**_ observe the "_**Golden Rule**_" but for those who don't
(_the usual suspects who are super loud/inconsiderate and leave FAC in a mess when

[2015-06-29 10:50] iteles commented on #15
**Geres:**
- 14 of us at any one time plus possibly @alanshaw, @olizilla & other halves. **Max 18 people**
- Bed space available in actual beds:
  - 5 double beds = 8 people
  - 5 singles
- **Require 5 air mattresses** if Oli, Helen, Alan & Lizzy come

**Lisbon:**
- **10 people total**
- Bed space available in actual beds:
  - 1 double bed = 2 people
  - 3 singles
- **Require 5 air mattresses**

R

[2015-06-30 10:28] iteles commented on #28
@nelsonic Do you reckon 2GB will be enough?
If not, the Lisbon airport one is looking pretty good!

[2015-06-30 10:39] nelsonic commented on #28
2GB for how long? per week?

[2015-06-30 11:39] iteles commented on #28
Ha, no, for the duration! We'll hardly ever be in places without wifi so I figured this might be emergency-only. Realistically though, let's go for the Lisbon airport one, it's safer and then we can re-evaluate after the 30 day period is up. :+1:

[2015-06-30 11:55] nelsonic commented on #28
2GB should be "enough" but it means we won't be "always on". That can be a good thing cause we would get more work done if we only go online at specific times.
But I Google a _**LOT**_ while getting work done...

[2015-06-30 12:27] iteles opened #29 "Investigate electronic signing of CLAs"
https://cla.developers.google.com/about/google-individual

Linked to #27

[2015-06-30 12:29] iteles commented on #28
The Vodafone and NOS ones don't have time limits, just data limits.
The only place I really foresee this being used is Landim and as a backup in Geres. Let's go for the LX airport one as a starter.

[2015-06-30 14:19] iteles commented on #27
![so-stoked-brushcript-lettering-neil-secretario](https://cloud.githubusercontent.com/assets/4185328/8432994/4583c620-1f3b-11e5-93d4-ceba0bf3179d.png)

<small>'So Stoked' artwork above by [Neil Secretario](https://www.behance.net/gallery/14266643/Brush-Lettering-Collection-No-1)</small>

[2015-06-30 16:59] iteles commented on #9
One camera then 'coz I ain't no Mary Poppins yo.

[2015-06-30 19:22] nelsonic commented on #27
I don't think the Contributor Agreement should be hidden away in the "Summer" repo...

[2015-06-30 19:24] iteles commented on #27
@nelsonic TOTALLY agree with you. My plan is:
- Summer repo freelance agreement
- Immediately add a contributor agreement to an agreements repo or maybe the launch repo? (I would prefer a catch-all repo for things like this)
- Talk it over with all of the lovely people working with us this summer
- Update and add to general dwyl repo

(Again, I'm [differentiating between a **freelance** agreement

[2015-07-01 00:15] iteles commented on #28
Have been in touch with the LX airport guys and their 'summer pricing' means it's now €50 for 30 days/15GB. It's still cheaper than Vodafone **if we use anything above 4GB**...

[2015-07-01 14:42] nelsonic opened #31 "Summer Reading - Please Come Upstairs today and Select 1-3 books to read."
Hi Awesome Peoples!
Please come upstairs and take your pick of up to 3 books for reading this summer.
![image](https://cloud.githubusercontent.com/assets/194400/8457150/a49bc924-2007-11e5-930a-ee770805037a.jpg)

We ask that you
1. Once you have chosen your 1-3 book(s) please Submit a **Pull Request** to: https://github.com/dwyl/start-here/blob/master/books-to-read.md listing the book(s) you intend

[2015-07-01 19:35] rorysedgwick commented on #26
So the simplest thing seems to be if I bring mine and leave it with you guys to keep.

If there is anything else that has to be transported as hold luggage, I will happily bring it and bundle the slackline in with it. If there isn't a huge amount to bring (which maybe it looks like) the slackline can fit in with my hand luggage and fingers crossed it makes it onto the plane.

[2015-07-02 19:48] nelsonic commented on #26
Yeah, go for it on the hand luggage. :+1:
Thanks a _million_! :wink:
(_please put the bag I brought to FAC downstairs next to the fridge area so its out of the way, thanks_! )

[2015-07-02 19:54] rorysedgwick commented on #26
Sure will do.

No problem, i'll just be praying I get it through and we get to use it! I've also grabbed that multisocket and will bring that along too.

[2015-07-02 19:54] #26 closed, assigned to nobody

[2015-07-02 21:21] iteles commented on #26
@rorysedgwick Ace, thanks!

[2015-07-02 21:33] nelsonic commented on #26
![legen-dary-545x353](https://cloud.githubusercontent.com/assets/194400/8488426/567d6ba4-210a-11e5-9351-0e7bdb45e51b.png)

[2015-07-07 10:26] iteles commented on #28
Went with the 15GB for €50 option. Will revisit on 3-August-2015.

[2015-07-07 10:26] #28 closed, assigned to iteles

[2015-07-07 12:31] iteles commented on #29
A few options:
- There are of course **many paid eSignature services**, for example:
  - [HelloSign](https://www.hellosign.com/info/pricing)
  - [DocuSign](https://www.docusign.com/products-and-pricing)
  - [Adobe's EchoSign](https://acrobat.adobe.com/us/en/pricing/business-pricing.html)
- There are also some **free ones** but I'm not expecting people to be keen on handing over their signatures to

[2015-07-07 15:39] nelsonic commented on #29
Agree with not wanting to give out people's personal data. I don't want to _store_ it in the first place.
I quite like the google "I agree" approach, they know they won't have to legally enforce it.
I've used _all_ of the paid ones while @GRPN so know the pros/cons of each. Hello sign is the simplest.
Ultimately I want to _formalised_ gentleman's agreement, more of a social contract than a market

[2015-07-07 15:45] iteles commented on #29
Right, but for this summer, even though I don't want _us_ to store them, I think we have much better **data privacy principles** than third parties...

[2015-07-07 15:55] nelsonic commented on #29
Agree. so... _conclusion_?

[2015-07-07 23:22] iteles commented on #29
PDFs for the summer, 'I agree' button after that was my tl;dr!

[2015-07-08 06:37] nelsonic commented on #29
PDFs which get _physically_ printed off and signed? or...?

[2015-07-08 06:47] iteles commented on #29
PDFs which are signed digitally using Preview or Adobe Reader annotating functions. :green_heart: :evergreen_tree:

[2015-07-09 12:45] rorysedgwick commented on #26
I've made it to Porto with the slackline woohoo.

What time will you guys be going through Porto tomorrow and where would be an easy place to meet?

[2015-07-10 16:09] msmichellegar opened #32 "What's our hashtag?"
# dwylsummer?

[2015-07-10 16:30] claireinez commented on #32
The all-important question

[2015-07-10 22:24] iteles commented on #32
:heart: Is #dwylsummer2015 too long? Plus #dwyl of course!

[2015-07-10 22:26] #29 closed, assigned to nobody

[2015-07-10 22:29] iteles opened #33 "Create PDF contracts for #dwylsummer2015"
As we're having PDF contracts for this summer (see #29), we need to create a few with different dates to accommodate the various groups of people arriving.

[2015-07-12 10:29] msmichellegar commented on #32
I feel like #dwylsummer is taking off ;)

[2015-07-12 21:18] iteles commented on #32
Totally agree! #dwylsummer & #dwyl it is

[2015-07-12 21:18] #32 closed, assigned to nobody

[2015-07-12 21:52] iteles commented on #23
Done! Thanks @izaakrogan :+1:

[2015-07-12 21:52] #23 closed, assigned to izaakrogan

[2015-07-12 21:53] iteles commented on #22
Linked to https://github.com/dwyl/start-here/issues/41

[2015-07-13 07:49] iteles commented on #33
Argh. Forgot to link from commit. https://github.com/dwyl/summer-2015/commit/35823b700c703c6f8d546d3505f68d7e6b2e8ceb

[2015-07-13 07:49] #33 closed, assigned to iteles

[2015-07-13 07:49] #27 closed, assigned to iteles

[2015-07-13 07:52] iteles commented on #15
3 bought, 2 to go :+1:

[2015-07-13 07:53] iteles opened #35 "Add note on how to sign the agreements"
I can do screen grabs for Mac but need some help with the windows and linux ones!

[2015-07-13 08:07] olizilla commented on #15
@helenloisward defo won't make it due to work. It's looking less likely that I will make this one also :(

[2015-07-13 09:24] nelsonic commented on #15
@olizilla  that makes us all #SadPanda ... :sob:
![sad panda](http://i1209.photobucket.com/albums/cc397/dunc07/sadpanda.jpg)

But... if this year goes well, will you **_Lead**_ a workshop/day/team **_next year**_...?

[2015-07-13 09:42] iteles commented on #35
<img width="439" alt="preview-annotate-menu-for-freelance-agreements" src="https://cloud.githubusercontent.com/assets/4185328/8646836/efca8f24-294a-11e5-8f43-64b1890ff61a.png">

<img width="208" alt="preview-add-text-for-freelance-agreements" src="https://cloud.githubusercontent.com/assets/4185328/8646735/4101a27a-294a-11e5-91f4-377dd53434e4.png">

<img width="378" alt="preview-altered-text-for-fr

[2015-07-13 09:58] besarthoxhaj opened #36 "Can not "firma" (sign the pdf)"
The option "firma" (sign) is gray out in my computer.

![schermata 2015-07-13 alle 10 55 32](https://cloud.githubusercontent.com/assets/7887496/8647223/f7d6bad2-294d-11e5-90b5-cf0808914ad8.png)

What I'm missing?
# summer2015 #dwyl

[2015-07-13 10:18] iteles commented on #35
@Jasonspd Could really use your help on the Ubunto stuff! :wink:

[2015-07-13 10:33] Jasonspd commented on #35
#Ubuntu
- Use the Ubuntu Software Centre and install "xournal" for annotating PDF files
- Open the PDF with "xournal" and annotate that PDF
- File > Export as PDF > DONE!

![screenshot from 2015-07-13 11 20 08](https://cloud.githubusercontent.com/assets/10106517/8647618/7405bce0-2951-11e5-80e5-58ca8132fefa.png)
![screenshot from 2015-07-13 11 20 33](https://cloud.githubusercontent.com/assets/10106

[2015-07-13 12:06] iteles commented on #35
Feel free to PR this @Jasonspd :wink: Thanks!

[2015-07-13 12:33] nelsonic commented on #35
@Jasonspd looking good!
all that we ask is that you attempt to focus your screenshots on just the important bits (_use selection tool instead of full-screen screenshots_)
thanks! :+1:

[2015-07-16 22:00] #17 closed, assigned to iteles

[2015-07-17 14:15] nelsonic commented on #17
@iteles what is the "general" (_open_) chat room for dwyl?

[2015-07-18 10:27] iteles commented on #31
@dwyl/doers There are still a few PRs missing :) Did anyone grab _essentialism_ by the way?

[2015-07-20 18:53] iteles commented on #35
@anniva Did you use this too? Find a better way?
Reckon you could help us out with a quick PR? :blush:

[2015-07-27 15:13] iteles commented on #16
![july-team-dwyl](https://cloud.githubusercontent.com/assets/4185328/8909647/639f00a8-347a-11e5-866d-44aed4284b64.jpg)

[2015-07-28 10:18] nelsonic commented on #8
@iteles there's a site for this: http://todogroup.org/opencodeofconduct/
But (_I still think_) we need our own repo...

[2015-07-28 11:22] iteles commented on #8
Totally agree: https://github.com/dwyl/code-of-conduct/blob/16813b5262ac22d020a593d50070c2aa7f8a85af/why-we-wrote-this.md

[2015-07-28 11:23] nelsonic commented on #8
Does that mean we can **_close**_ this issue?

[2015-07-28 12:11] iteles commented on #8
I reckon so, any issues/improvements on the code of conduct should be opened against the [code of conduct repo](https://github.com/dwyl/code-of-conduct). :+1:

[2015-07-28 22:36] iteles opened #38 "People still ask how to digitally sign the freelance agreements"
We create a `how-do-I-sign-this.md` file as part of resolving #35, but at least 50% of people _still ask how to :evergreen_tree: digitally sign :evergreen_tree: the agreement.

<img width="932" alt="how-do-i-sign-this-highlighted-screenshot" src="https://cloud.githubusercontent.com/assets/4185328/8945651/35cfa468-3581-11e5-900e-5417326ae96b.png">

**Proposed solution to be tested with 'team city':

[2015-07-28 22:39] #16 closed, assigned to iteles

[2015-07-28 23:28] nelsonic commented on #38
Agreed. The hypothesis that `git mv how-do-I-sign-this.md README.md` will answer the question for most people. :+1:

[2015-07-29 00:14] msmichellegar opened #39 "Where do we put photos?"
Can we/should we create a repo for awesome photos from #dwylsummer? Where are photos living right now?

[2015-07-29 00:17] iteles commented on #39
A very good question! I haven't even had a chance to get them off the various devices and onto a harddrive yet but what does everyone reckon @dwyl/doers?

[2015-07-29 00:17] nelsonic commented on #39
@msmichellegar I think @iteles had a plan for this.
At the moment _my_ photos are all on our portable hard drive.
We were thinking of building a Photo Gallery component for https://github.com/nelsonic/adoro (which will _soon_ get transferred to dwyl) which we would use to showcase our lovely photos ...

[2015-07-29 00:19] iteles commented on #39
Mine and DSLR's are still on the respective devices. I'm formulating various plans for this but we may end up needing a short term solution as well as a long term one!

[2015-07-29 00:28] iteles opened #40 "Who wants profile photos?"
I know @nelsonic and often mention we want to take some good photos of ourselves we can use as profile pictures. High resolution, interesting backgrounds and well focused, like http://www.foryourself.co/#/jongold or http://www.foryourself.co/#/alexx_rae

Seeing as [Lisbon is kind of stunning](http://www.theportugalnews.com/news/lisbon-voted-worlds-fourth-most-beautiful-city/27894) (a **totally** a

[2015-07-29 09:32] anniva commented on #35
@iteles I used Jason's way, which worked well :)

[2015-07-29 22:50] nelsonic opened #41 "New Camera for Parrot Bebop Drone?"
@iteles where do you have as your ebay delivery address?
given that the Bebop drone camera lens is scratched I was thinking of ordering:
- http://www.ebay.co.uk/itm/BRAND-NEW-IN-SEALED-RETAIL-PACK-GENUINE-PARROT-BEBOP-DRONE-HD-FRONT-CAMERA-/231633807637
- http://www.ebay.co.uk/itm/Parrot-Bebop-Drone-3-0-Part-Camera-Transparent-Cover-Case-Dust-Guard-Shield-New-/151711308023

We could then aksk some

[2015-07-30 20:27] iteles opened #42 "Should the 'definition of done' be its own repository?"
The 'definition of done' is a critical part of working with us and keeping the quality of what we do high. It shouldn't be hidden away in `summer-2015` as this doesn't give it the importance it's due.

I think we should have a `definition-of-done` repo (PR #34) that we can point to from a broader, `how-we-work` repo. Here we would talk about timing your tasks, how we communicate as a team and also

[2015-07-30 20:28] nelsonic commented on #42
Its probably the single most important thing in any project. so yes, its' own repo. please/thanks! :+1:

[2015-07-30 20:49] iteles commented on #41
My current eBay address is our house but things can easily be sent to F&C.

I'll get Andrew to bring our 'spare parts' kit from Lisbon tomorrow and hopefully we won't need to order this :blush:

[2015-07-30 20:55] iteles commented on #22
What's the best term for this 'style guide' thing so that I can create a repo and make a _documented_ start?
_Style guide_ works for visual components in my mind but there must be something better for code...

And should we have a repo for the visual style and a separate one for coding style? Will having them together actually make back-end developers more aware of the visual side of things (seein

[2015-07-30 21:09] nelsonic commented on #41
Where exactly are you expecting to find this "spare parts" kit...?

[2015-07-30 21:10] iteles commented on #41
Oh, I thought it was still in Lisbon but apparently it's here :+1:

[2015-07-30 22:23] msmichellegar commented on #39
Cool!

[2015-07-31 09:03] iteles commented on #35
![xournal-ubuntu](https://cloud.githubusercontent.com/assets/4185328/9004130/56e276c6-376b-11e5-8116-db0102c44c5d.png)
![xournal-ubuntu-annotate-pdf](https://cloud.githubusercontent.com/assets/4185328/9004750/ab7e5574-3770-11e5-8811-4ed845f40896.png)

[2015-07-31 09:34] iteles commented on #35
Thanks @anniva :+1:

[2015-07-31 09:45] iteles commented on #35
For Windows: http://www.howtogeek.com/164668/how-to-electronically-sign-documents-without-printing-and-scanning-them/

[2015-08-01 23:02] #8 closed, assigned to iteles

[2015-08-01 23:02] iteles commented on #8
Also... this one https://github.com/dwyl/start-here/issues/20

[2015-08-01 23:09] iteles commented on #6
I think this was covered by the writing of the [readme](https://github.com/dwyl/summer-2015/blob/6a1c8b56db02ddd8b106ebeb6d1b5911dadd1cd2/README.md) in the `summer-2015` repo.

It will need to be revisited when the summer ends as part of 'what we learned and why 2016 will be the most exciting thing to ever happen in the history of anything', but we should open a separate issue for that as this was

[2015-08-01 23:13] nelsonic commented on #6
Yes. next time we'll have photos to do all the "talking" for us. :wink:

[2015-08-01 23:13] #6 closed, assigned to iteles

[2015-08-01 23:14] iteles commented on #1
@rjmk @nikhilaravi @tsop14 @minaorangina @beechware @Lukars @beechware @jackpandas We're still looking for your picks of songs to add to the summer playlist (to avoid streaming and also... #summertime!) :blush: :dancer:

FYI, [this](https://www.youtube.com/watch?v=i1Jp-V4jalI) is currently the song of the summer here in Portugal. @msmichellegar, @nofootnotes and @jrans will tell you all about it..

[2015-08-03 08:16] FilWisher commented on #22
https://github.com/Flet/semistandard is a fork of standard with semicolons on top. (I do realize the irony of forking a standard and changing it). Everything else is the same

[2015-08-03 08:24] FilWisher commented on #22
Separate repos makes more sense to me. If I'm supposed to be looking for JS rules and start reading through visual style because it's there and I have a short attention span, something doesn't feel right.

Why not "visual style" and "coding style". I dig the explicitness.

[2015-08-03 09:27] rjmk commented on #22
@FilWisher let a thousand standards bloom : https://github.com/JedWatson/happiness

@iteles What does 'fully commented code' mean? :worried: I find comments tend to reduce readability, but have certainly struggled through code where a comment or two would have been immensely helpful.

[2015-08-03 09:31] #42 closed, assigned to iteles

[2015-08-05 09:59] iteles commented on #15
Also, @heron2014 can't join us any more so we need **4 air mattresses**.

Already bought :+1:

[2015-08-05 09:59] #15 closed, assigned to nobody

[2015-08-05 10:06] iteles commented on #22
@FilWisher I take your point and I tend to agree, but I'm also curious about whether looking at a few of the visual pieces by default will give developers who focus exclusively on backend tasks a better view of how everything works together :wink:
Also, "visual style" and "coding style" are perfect, thanks! :+1: :+1:

@rjmk Great point. I agree that that needs more explanation. We'll have a few ex

[2015-08-07 09:37] iteles commented on #7
Bought. Done.

[2015-08-07 09:37] #7 closed, assigned to nobody

[2015-08-07 19:29] iteles opened #44 "Share template invoice for those who haven't invoiced anyone before"
It will be useful for people to have a simple invoice template that they can use to invoice dwyl and others in general on their freelance journeys.

<img width="659" alt="simon-request-for-invoice-template" src="https://cloud.githubusercontent.com/assets/4185328/9144078/68553d44-3d42-11e5-8d00-e38da0f659a1.png">

[2015-08-08 14:43] #35 closed, assigned to nobody

[2015-08-08 14:43] #38 closed, assigned to iteles

[2015-08-08 14:43] #44 closed, assigned to nobody

[2015-08-09 11:25] iteles commented on #22
Adding some screenshots for the guide.

I actually think that we should have a **'set up your environment'** guide separately so we don't pollute the styleguide with teaching people how to set up soft tabs... **Thoughts anyone?**

<img width="507" alt="atom-soft-tab-preferences-menu" src="https://cloud.githubusercontent.com/assets/4185328/9154618/a6598690-3e91-11e5-939b-2c03cf3c7ffc.png">

[2015-08-09 11:30] nelsonic commented on #22
@iteles agreed. :+1:

[2015-08-11 21:33] iteles commented on #40
@minaorangina @rjmk @tsop14 @jackpandas @beechware @FilWisher @nikhilaravi @nelsonic What say you? :sunglasses:

[2015-08-11 21:49] iteles commented on #36
@besarthoxhaj I've been googling and googling and it looks like this is a relatively unique problem! I [found this](http://forums.macrumors.com/threads/preview-app-question.1468877/) though - could you please check your preferences menu to see if you can activate the signature from there?

I don't have it in my preferences menu but your version of Preview looks different to mine!

Could you please

[2015-08-12 15:17] tsop14 commented on #40
Yes please! :camera: :sunny:

[2015-08-18 09:22] nikhilaravi commented on #40
:+1:

[2015-08-18 11:19] nelsonic commented on #40
@iteles when are we time-tabling this?

[2015-08-18 20:18] iteles commented on #40
Either Friday afternoon post segways or Saturday?

[2015-08-19 22:11] tsop14 opened #45 "Cabo da Roca"
Shall we?

@dwyl/summer

[2015-08-19 22:13] nelsonic commented on #45
@tsop14 it _really_ depends on people who have to be at the airport at specific time...
Segway will only finish ~ 13:00
What time do people need to be places?

[2015-08-19 22:39] iteles commented on #45
@dwyl/summer What time do people need to be places on Friday?

P.S. Cabo da Roca is a 20 minute drive from the segways and probably 1-1.5 hours from the airport (depending on traffic)

_P.P.S. Love the use of the **enhancement** label_ :wink: :+1:

[2015-08-19 23:27] minaorangina commented on #45
I need to be at the airport by half 5

[2015-08-20 16:08] iteles opened #46 "Check everyone has logged the books they've borrowed from the dwyl library"
Essentially making sure we can close #31 :blush:

[2015-08-29 19:44] iteles commented on #40
We ended up not doing this as folks didn't really feel like going into Lisbon Friday or Saturday, but we certainly got some lovely photos. @nelsonic Shall we try and get some for ourselves?

[2015-08-29 19:53] iteles commented on #45
I think we managed this and then some!

![img_5034](https://cloud.githubusercontent.com/assets/4185328/9564005/a6d28e24-4e8f-11e5-8095-130790fc8e40.JPG)
![img_5036](https://cloud.githubusercontent.com/assets/4185328/9564016/e718d60a-4e8f-11e5-8c82-9e2745a03e33.JPG)
![img_5039](https://cloud.githubusercontent.com/assets/4185328/9564009/af96f20c-4e8f-11e5-80d4-ac50ebbbb40b.JPG)
![img_5155](https://c

[2015-08-29 19:53] #45 closed, assigned to nobody

[2015-08-29 22:31] nelsonic commented on #40
When ever you are free. :camera:

[2015-09-05 23:38] iteles commented on #22
I'm closing this issue for now as the style guide is an ongoing piece of work. All style guide issues can now be raised here :arrow_right: https://github.com/dwyl/style-guide

[2015-09-05 23:38] #22 closed, assigned to nobody

[2015-09-07 13:13] iteles commented on #36
@besarthoxhaj We're closing this issue as you we got a signed freelance agreement from you and haven't been able to replicate the issue. We hope anyone else who shares this issue will be able to open it again and we can hopefully find the steps to replicate it and solve it then! :+1:

[2015-09-07 13:13] #36 closed, assigned to nobody

[2015-09-07 13:14] iteles commented on #20
Closing this issue as we've now seen them :blush: :+1:

[2015-09-07 13:14] #20 closed, assigned to nobody

[2015-09-07 13:15] #1 closed, assigned to iteles

[2015-09-07 13:20] iteles commented on #9
After some interesting attempts, we actually did quite well! Thanks everyone (@benjaminlees, @msmichellegar, Benji's girlfriend Naomi and I managed that relatively successful 'dwyl' at the end :tada:)

![img_5279](https://cloud.githubusercontent.com/assets/4185328/9717533/77b720c2-556b-11e5-9ffc-7592c59f57e2.jpg)
![img_5285](https://cloud.githubusercontent.com/assets/4185328/9717535/77b93c90-556b-

[2015-09-07 13:20] #9 closed, assigned to iteles

[2015-09-07 13:24] iteles opened #47 "Financial admin | dwylsummer part 1 & 2"
Speak to everyone we lent some euros to (most often in the form of a portion of the shopping bill):
- dwylsummer part 1
- dwylsummer part 2

[2015-09-07 16:40] iteles commented on #47
- [x] dwylsummer part 1
  - 1 payment short
- [x] dwylsummer part 2 (contacted 7-Sep-2015)
  -  1 payment missing (amended 14-Sep-2015)

[2015-09-14 17:17] iteles commented on #40
Definitely one to remember for next year! I've added a #dwylsummer2016 milestone. Shall we close it for now and add it as an issue to dwyl-summer2016 in January?

[2015-09-14 21:00] nelsonic commented on #40
Agreed. :+1:

[2015-09-14 21:00] #40 closed, assigned to iteles

[2015-09-14 21:15] #25 closed, assigned to nobody

[2015-09-18 14:36] iteles opened #48 "What are your thoughts on #dwylsummer 2015?"
Now we've come to the end of #dwylsummer2015 it would be really productive to get a 1-2 line impression from everyone on what they thought of it.

If people are willing to elaborate, I would also love to know:
- What worked well?
- What didn't work at all?
- What could we do better/start doing next summer?

[2015-09-21 12:56] NataliaLKB commented on #48
##### What worked well?

What seemed to work the best on our trip was the first week. It was full of discovery and learning. Most days we ended feeling like we produced something of value. This is partly I think because we were given pretty clear things to look into and implement.

##### What didn't work at all?

The last week was much more unorganised and I think most people felt confused about w

[2015-09-25 02:40] iteles commented on #48
@NataliaLKB You're a :star:, thank you for your comments, we loved having you there!

It'll definitely be happening again. Let's see if we can get some more contributions to make it better :blush:

[2016-08-21 20:37] nelsonic opened #49 "2016"
![summer-code-logo](https://cloud.githubusercontent.com/assets/194400/17839685/7952017e-67e7-11e6-9d86-d66db0e34856.png)

[2016-08-21 20:45] iteles commented on #49
This is my second highest priority task for Tuesday (but most likely Monday night).

[2016-08-25 21:55] iteles commented on #49
![dwyl-summer-2015-tweet-collage](https://cloud.githubusercontent.com/assets/4185328/17987260/e75860d2-6b16-11e6-9817-134d47007806.jpg)

[2016-08-25 22:02] iteles commented on #49
![mosteiro de landim - vista tipica](https://cloud.githubusercontent.com/assets/4185328/17987467/0b91016a-6b18-11e6-84ee-0ffbefdd482b.JPG)

[2016-08-26 00:53] jrans opened #50 "Airport transfer Timings"
Considering it's a bit of a drive to get to the lake house does the driver only pick up at certain times of day?

I.e. If a flight arrives in at 9pm is that too late?

Likewise if you need to be at airport at 8 is that too early?

**Edit: actually just saw the hour drive so maybe a nonissue but still should be checked**

[2016-08-28 01:33] nelsonic commented on #50
@jrans never too early/late.
Yes, it's just over an hour from the airport https://goo.gl/maps/d2UvmYwZwUn
as long as the Driver knows arrival time in advance pickup can be arranged. 👍

[2016-09-26 13:24] nelsonic commented on #4
Parrot Bebop Drone was good. sadly it does not have the built-in stability and collision detection so it did not last v. long ... (_went for a swim when we tried to fly it over a pond_)
Hopefully next time we investigate drones they will be more autonomous ...
e.g: DJI Phantom 4: https://www.youtube.com/watch?v=JJPSSqMQajA
(_but I don't have budget (time!) for one right now..._)

[2016-09-26 13:24] #4 closed, assigned to nobody

[2016-09-26 13:24] #41 closed, assigned to nobody

[2016-09-26 13:27] #31 closed, assigned to nobody

[2016-09-26 13:27] #46 closed, assigned to iteles

[2016-09-26 13:28] nelsonic commented on #5
re-open if required. 👍

[2016-09-26 13:28] #5 closed, assigned to iteles

[2016-09-26 16:32] #47 closed, assigned to iteles

[2017-02-20 22:41] nelsonic commented on #49
@mk4111 ...
![marie-lake](https://cloud.githubusercontent.com/assets/194400/23144150/98f50f24-f7bd-11e6-8ae9-df75b3bda72c.jpg)
(_clearing off my camera to make space for more photos..._)

[2017-02-20 22:43] nelsonic commented on #49
@jackcarlisle + @Conorc1000
![jack-connor-sun](https://cloud.githubusercontent.com/assets/194400/23144201/edbb743a-f7bd-11e6-8560-9174b5293eb7.jpg)
![jack-connor-pingpong](https://cloud.githubusercontent.com/assets/194400/23144285/776e58be-f7be-11e6-9c1d-da3e63f839b4.jpg)

[2017-02-20 22:45] nelsonic commented on #49
@eliascodes + @shouston3
![elias-sam-django](https://cloud.githubusercontent.com/assets/194400/23144256/38f001b4-f7be-11e6-9972-8f879424907a.jpg)

[2017-02-20 22:49] nelsonic commented on #49
@JMurphyWeb + @mk4111
![jack-coding-indoors](https://cloud.githubusercontent.com/assets/194400/23144312/a02f0aaa-f7be-11e6-8772-cd0e9947a779.jpg)
![jack-marie-indoors](https://cloud.githubusercontent.com/assets/194400/23144333/c33fc890-f7be-11e6-9505-0728dc46ff47.jpg)
(_we should take cable ties next time..._) 😉

[2017-02-20 22:53] nelsonic commented on #49
@jrans
![ransy-head-scratcher](https://cloud.githubusercontent.com/assets/194400/23144381/0dc5a1a0-f7bf-11e6-9c1b-36f32c9ef1f9.jpg)
![jack-rans-marshmallow](https://cloud.githubusercontent.com/assets/194400/23144408/31629c1c-f7bf-11e6-9c6d-e2226a2b04f8.jpg)

[2017-02-20 22:53] nelsonic commented on #49
@SimonLab
![simon-marshmallow](https://cloud.githubusercontent.com/assets/194400/23144429/6bb5e14e-f7bf-11e6-9047-c0ae66f77c8d.jpg)

[2017-02-20 22:53] nelsonic commented on #49
@des-des 🍰
![happy-birthday-eoin](https://cloud.githubusercontent.com/assets/194400/23144434/7346281a-f7bf-11e6-8795-d53f9dd6299f.jpg)

[2017-02-20 22:56] nelsonic commented on #49
@roryc89 + @jackcarlisle
![rory-jack-bbq](https://cloud.githubusercontent.com/assets/194400/23144472/c61bff42-f7bf-11e6-8273-04735ac05881.jpg)

[2017-02-20 23:06] nelsonic commented on #49
@naazy + @harrygfox
![naaz-leading-the-demo](https://cloud.githubusercontent.com/assets/194400/23144674/297852d8-f7c1-11e6-983a-d7c703fdbe47.jpg)
![naaz-playing-pool](https://cloud.githubusercontent.com/assets/194400/23144676/2b6b9fc8-f7c1-11e6-9a7c-218cd6392e47.jpg)
![game-night](https://cloud.githubusercontent.com/assets/194400/23144683/3725bab0-f7c1-11e6-8393-17e31ec60347.jpg)
![laughing](https

[2017-02-20 23:07] nelsonic commented on #49
![veranda-yoga](https://cloud.githubusercontent.com/assets/194400/23144699/4ba8d71a-f7c1-11e6-9673-446d6e8cdfb5.jpg)
![team-veranda](https://cloud.githubusercontent.com/assets/194400/23144703/545fb4aa-f7c1-11e6-9f24-a258bb5c0682.jpg)
good night everyone. ❤️
hope to see you all there `this` year! 👍

[2017-02-21 10:52] jay-meister commented on #49
That trip was so much fun!

[2017-02-21 13:30] iteles commented on #49
:laughing: Thanks Jack!

[2017-02-28 22:25] iteles opened #51 "dwylsummer 2017"
It's happening!

Proposed dates: 18/19th July to 2nd August 2017.

More details to follow 😊

[2017-03-26 17:36] iteles commented on #51
Confirmed this afternoon 👍

[2017-03-28 13:03] ghost commented on #51
@iteles should we revise these dates then?

[2017-03-28 13:28] iteles commented on #51
@markwilliamfirth Sorry, not sure what you mean!
Do you mean revise as in revise the main readme to reflect these? If so, definitely!

[2017-03-28 18:02] ghost commented on #51
I mean baring in mind the invitation for everyone to attend your event 😉  on the 5th august - should we revise the dwyl summer dates to encapsulate this date?

[2017-04-12 08:33] ghost commented on #51
18th Jul - Aug 2nd

Will email out after Easter break

[2017-05-23 12:19] nelsonic commented on #51
@iteles can you please share a link to the spreadsheet? (_thanks_!)

[2017-05-23 12:27] iteles commented on #51
https://docs.google.com/spreadsheets/d/1k_B1sJtiXI8yexbgOrUgtPNXSJpwLbplXRRoCmM6um4/edit#gid=0

[2017-05-24 08:58] nelsonic commented on #51
@iteles thanks. ❤️

[2017-05-31 13:23] ghost commented on #51
@iteles I'm going to email everyone to remind them of this - is there any additional information besides the spreadsheet and dates that I should send?

[2017-05-31 14:57] iteles commented on #51
Hmmmm... @markwilliamfirth Give me til lunch tomorrow to do a quick update on https://github.com/dwyl/summer/blob/master/useful-info.md ?

[2017-06-09 16:50] ghost commented on #51
@iteles bump on this one! Have dates been revised?

[2017-06-24 08:49] nelsonic opened #52 "Which Book(s) are You Taking with you to Porgual?"
Next week, on our journey to Portugal, we _really_ don't have a lot of space to carry much. 😮
I'm taking **2 books** with me:
+ Metaprogramming Elixir: https://www.amazon.co.uk/Metaprogramming-Elixir-Write-Less-Code/dp/1680500414
+ Time, Talent, Energy: https://www.amazon.co.uk/Time-Talent-Energy-Organizational-Productive/dp/1633691764

![image](https://user-images.githubusercontent.com/194400/275

[2017-06-26 10:10] ghost commented on #51
🙌

[2017-06-26 12:02] samhstn commented on #52
Great, looking forward to reading https://www.amazon.co.uk/Metaprogramming-Elixir-Write-Less-Code/dp/1680500414 in Portugal, thanks @nelsonic

[2017-06-27 10:47] nelsonic commented on #49
Here are a few more photos ... CC: @Cleop
![elias-on-donut](https://user-images.githubusercontent.com/194400/27583900-e87e976c-5b2d-11e7-94fa-218869823809.jpg)
![team-on-flying-disk-petes-beach](https://user-images.githubusercontent.com/194400/27583917-f3d07b44-5b2d-11e7-9234-6b41bd762f43.jpg)
![team-on-flying-disk](https://user-images.githubusercontent.com/194400/27583922-f7f992d2-5b2d-11e7-8560-

[2017-06-27 10:49] nelsonic commented on #49
And ...
![team-waterfall-bouldering](https://user-images.githubusercontent.com/194400/27584068-8ea740d0-5b2e-11e7-81c6-ece2c224f765.jpg)
![jack-resting-on-a-rock-pool](https://user-images.githubusercontent.com/194400/27584072-9095b7a0-5b2e-11e7-8120-dae5214ee9a2.jpg)
![sam-bouldering](https://user-images.githubusercontent.com/194400/27584082-99b538b0-5b2e-11e7-8f15-3769e5f2fb76.jpg)
![cristal-clea

[2017-07-08 16:24] nelsonic commented on #52
Totes want to _Listen_ to this book on Audible next:
https://www.amazon.co.uk/Becoming-Brilliant-Successful-Children-Lifetools/dp/1433822393

[2017-07-16 17:23] nelsonic opened #53 "WiFi (Outdoor CPE / Access Point)"
In the past we've used a "consumer" WiFi Router to get the signal around the house,
`this` year I propose we go "pro": http://www.tp-link.com/common/Spotlight/CPE510.html

https://www.amazon.co.uk/gp/product/B00N3SW7X4
![image](https://user-images.githubusercontent.com/194400/28249746-83405874-6a53-11e7-8038-939f6b9c4046.png)

We will need to get a couple of them (_one as the repeater and the seco

[2017-07-16 17:54] nelsonic commented on #53
@iteles ordering from Amazon to PT is **£40 postage**. would it be wiser to order to the London Office and then ask someone to ship it to us via Interparcel (_or what ever service_) ?

[2017-08-01 14:45] #51 closed, assigned to iteles

[2017-08-01 14:46] ghost commented on #51
Dates are 26th July - 6th August

[2017-10-08 11:41] iteles commented on #52
I took three books and didn't finish any of them 😳
+ [Mindset](https://www.amazon.co.uk/Mindset-Updated-Changing-Fulfil-Potential/dp/147213995X) by Carol Dweck
  + I got about a third of the way through this and found the information useful but unendingly repetitive as it cycled through the different areas of life where it could be used
  + I switched to the audiobook instead and am 1 chapter away

[2017-10-08 12:03] iteles commented on #52
@nelsonic I'm closing this issue as the question is answered, but we need a better way to track books we have read & want in the dwyl library!

[2017-10-08 12:04] #52 closed, assigned to iteles

[2017-12-13 11:32] naazy opened #54 "Laughter yoga?"
I went to laughter yoga/playshop yesterday and it was so unbelievably fun whilst also being quite a hardcore workout. It would be really easy for one of us to run a session and I thought it would be a fun and relaxing thing to do during dwyl summer so just putting this down here for safe keeping

[2018-01-31 11:06] #49 closed, assigned to nobody

[2018-01-31 17:55] Cleop opened #55 "dwyl summer 2018 dates"
@nelsonic says Mid July may be the time for dwyl summer 2018 but is not yet confirmed.

More details to be added here!

🎉 😄 ❤️ 🌺 🌞

[2018-02-01 09:18] iteles commented on #55
We'll email the house owners today and get the ball rolling!

[2018-02-01 14:20] iteles commented on #55
Looking like late June/ early July at the moment, definitely not August.

[2018-02-12 11:56] Cleop commented on #55
@iteles - any update on this one? Want to get some flights booked around late June and have a wedding mid July, so any more info would be much appreciated! Wouldn't want to miss out on this!!! ❤️

[2018-02-12 12:13] iteles commented on #55
I have been promised an update _this_ week, there are apparently 3 more people to weigh in on this (and my mother lost her voice over the weekend so her corralling of all required parties has been somewhat hampered by this 😬)

[2018-02-12 12:33] Cleop commented on #55
Great to know, thanks @iteles 😊  Hope you've prescribed her lots of honey, lemon and ginger tea! 🍵

[2018-02-14 15:40] iteles commented on #55
So far it's looking like wither 16th - 29th July or 23rd July - 5th August, but more confirmation coming!

[2018-02-14 17:00] nelsonic commented on #48
thanks _again_ to @NataliaLKB for giving feedback 🎉 😍
closing as I doubt the _rest_ of the people who attended _3 years_ ago will _remember_ anything ... 🙄

[2018-02-14 17:00] #48 closed, assigned to nobody

[2018-02-14 17:10] iteles commented on #48
This year we'll "strongly suggest" people do this half way through and the day before they leave!

[2018-02-14 17:18] nelsonic commented on #48
@iteles indeed ...
and _next_ year we can `require` people to complete a form `before` they can go.

[2018-02-21 10:54] iteles commented on #55
Latest: 23rd July - 5th August (except not the 5th August coz... anniversary 👰🤵) OR in the late September/October timeframe!

Most likely between the lakehouse & Braga.

[2018-04-12 13:13] nelsonic commented on #55
CC: @shouston3 & @Danwhy
(_summer dates TBC..._)

[2018-04-12 14:03] Cleop commented on #55
❤️ July/August if it's warmer 🌞= ✅   🌥= ❌

[2018-06-26 10:11] iteles commented on #55
Spreadsheet is _up_ 💥 !
We've gone for mid-week to mid-week so the flights are cheaper but accommodation is available if people arrive early and until 2nd August 🎉

**Please fill this in!**
https://docs.google.com/spreadsheets/d/15KfutKnJ_I_awgV6DiIRZDIln1WP93jlqbJFtL5VDG0/edit#gid=0

[2018-06-27 09:16] iteles commented on #55
@Conorc1000 @roryc89 and @naazy have noted that they won't be able to make it this year as they already have prior commitments 😭 We need to get these in the calendar earlier!

[2018-06-29 08:43] Cleop commented on #55
@Conorc1000 @roryc89 - Who will be masters of the BBQ now? @naazy - who am I going to cook with?! 😢

[2019-01-29 20:27] nelsonic commented on #55
Stoked everyone was able to join us in 2018. 🎉
2019 is going to be on a _whole_ other level! ❤️

[2019-01-29 20:27] #55 closed, assigned to nobody

[2019-02-18 15:31] Cleop opened #56 "dwyl summer 2019 dates"
@iteles @nelsonic - do we have a rough idea of dates for dwyl summer 2019?

I'm looking at getting involved with some hobbies that have requested to know my weekend availability and I wanted to factor in time for dwyl summer ❤️

[2019-02-18 16:59] nelsonic commented on #56
@Cleop as you may be aware, we are planning to do something _very_ different for ❤️✅☀️🏊‍♀️5️⃣
Both the _number_ of people and the duration will be expanded _considerably_ from previous years.
We don't expect _anyone_ to be in Portugal for the _whole_ summer although you are most _welcome_ to!
At this stage your best bet is to organise your hobbies for the most _convenient_ weeks/weekends and come

[2019-05-01 08:09] nelsonic opened #57 "@home summer 2020 launch (pool) party?"
@iteles when do you have time to take a look at the calendar (_and Gantt Chart_) for [@home](https://github.com/dwyl/home)
to determine the "launch party" date so that that people can start booking flights?

![image](https://user-images.githubusercontent.com/194400/57009333-debf2200-6bed-11e9-945e-bad9945c70c0.png)

related to #56

But from experience, without a _deadline_ things tend to go _much_

[2019-05-01 13:03] iteles commented on #57
@nelsonic Out biggest  dependency here is https://github.com/dwyl/home/issues/35
I'll work up some options with the Gantt chart in the next couple of days!

[2019-06-01 20:37] nelsonic opened #58 "Mosquitoes"
https://youtu.be/38gVZgE39K8

[2019-11-13 08:48] SimonLab opened #59 "Update markdown"
Some markdown titles are not displayed properly:
![image](https://user-images.githubusercontent.com/6057298/68747367-4c62f680-05f2-11ea-98c6-c8ee3406a93a.png)

https://github.com/dwyl/summer/blob/master/freelance-agreements/readme.md

- [x] Update markdown to have a nice display of the Readme

[2020-02-10 16:20] iteles commented on #57
Summer 2020 is definitely an option 😉

Unassigning myself for now because we will inevitably come back to this and if someone else wants to pick this up, 🙌

[2020-04-15 17:40] iteles commented on #56
Will reopen for 2020 if travel is allowed by then!

[2020-04-15 17:40] #56 closed, assigned to iteles

[2020-12-27 19:37] ghost commented on #59
I'd like to help with this issue. I'd be glad to help with any problems you may have on your markdown files / documentation.

[2020-12-27 19:40] ghost commented on #59
May I be assigned to this task?

[2020-12-27 21:38] ghost commented on #59
I'll begin working on the task right away.

[2020-12-27 23:53] ghost commented on #59
While going fixing the markdown in the files, I noticed that the image on [code-of-conduct.md](https://github.com/dwyl/summer/blob/master/code-of-conduct.md) is invalid and returns the following error:

#### Line 3:
`<img align="right" src="http://social.beefeater.co.uk/assets/family-portrait/img/explanation/mr-happy.png"/>`

I was wondering what you'd want me to do in regards to the image/lack th

[2020-12-28 00:18] ghost commented on #59
I was also wondering if you intend me to update and improve/stylize the markdown in the file or just to update with the fixes. So far I've taken care of fixing the markdown on all files but the [code-of-conduct.md](https://github.com/dwyl/summer/blob/master/code-of-conduct.md).

[2020-12-28 00:27] nelsonic commented on #59
@syspentarc good question.
The image does not add much to the document, so feel free to remove it.
(_It shouldn't have been "hot" linked in the first place ..._)

[2020-12-28 00:34] syspentarc commented on #59
Thank you for letting me know. When this issue was filled, was there an intent to only fix the markdown on the files or to also try to style it beyond that?

[2020-12-28 03:43] ghost commented on #59
I made a PR request, hope it doesn't cause much confusion. I accidentally pressed the wrong button on my first PR while checking it on my phone. Sorry for the confusion.

[2020-12-28 15:30] nelsonic commented on #59
@syspentarc thanks very much for the Pull Request updating the markdown. ☀️

[2020-12-28 15:34] ghost commented on #59
Glad I could help :smile:

[2022-01-18 09:35] #39 closed, assigned to nobody